<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <h2 style="margin-top: 50px; margin-bottom: 20px;"><b>Choose Campaign</b></h2>
    <div class="card-deck" style="margin-bottom: 100px; background-color: #E3F2FD; padding: 20px 10px 20px 10px; border-radius: 20px;">
        <div class="card">
            <img class="card-img-top" th:src="@{${'/campaign/edu.png'}}" alt="Card image cap">
            <div class="card-body">
                <h5  class="card-title">Educational Campaign</h5>
                <p class="card-text" th:text="${eduCampaign.getOverview()}"></p>
                <a th:href="@{'/campaign/edu'}"><button class="btn btn-primary">See Details</button></a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" th:src="@{${'/campaign/social.png'}}" alt="Card image cap">
            <div class="card-body">
                <h5  class="card-title">Social Campaign</h5>
                <p class="card-text" th:text="${socialCampaign.getOverview()}"></p>
                <a th:href="@{'/campaign/social'}"><button class="btn btn-primary">See Details</button></a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" th:src="@{${'/campaign/health.png'}}" alt="Card image cap">
            <div class="card-body">
                <h5  class="card-title">Health Campaign</h5>
                <p class="card-text" th:text="${healthCampaign.getOverview()}"></p>
                <a th:href="@{'/campaign/health'}"><button class="btn btn-primary">See Details</button></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>