<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>CharitAble</title>

</head>
<body>
    <h1> Welcome </h1>
    <a th:href="@{'/campaign'}">
        <button class="btn btn-primary">See All Campaigns</button>
    </a>
    <a th:href="@{'/report'}">
        <button class="btn btn-primary">See Reports</button>
    </a>
</body>
</html>