<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <h2 style="margin-top: 50px; margin-bottom: 20px;"><b>Reports of Collected Funds</b></h2>

    <div class="card-deck" style="margin-bottom: 100px; background-color: #E3F2FD; padding: 20px 10px 20px 10px; border-radius: 20px;">
        <div class="card" th:each="report: ${reports}">
            <img class="card-img-top" th:src="@{${report.getImage()}}" alt="Card image cap">
            <div class="card-body">
                <h5 th:text="${report.getName()}"></h5>
                <h4 th:text="${'Rp' + report.getTotalDonation()}"></h4>
            </div>
        </div>
    </div>
</div>

</body>
</html>